# Python (FastAPI)
__pycache__/
*.py[cod]
venv/
.env
*.ini
*.cfg
*.json
logs/
*.log

# Flutter
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/

# VSCode
.vscode/
.idea/
.DS_Store
Thumbs.db

# React
node_modules/
package-lock.json
yarn.lock
npm-debug.log

# archivos de configuración
*.sqlite3
*.bak
*.swp
dist/
build/
public/
coverage/

#logs Flutter
*.log
*.lock

# React
.eslintcache
.next/
out/

